@mixin hyphenate {
	-ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

@mixin clearfix {
	&:after {
	    content: ".";
	    clear: both;
	    display: block;
	    visibility: hidden;
	    height: 0px;
	}
}

@mixin placeholder {
	$prefixes: "::-webkit-input-", "::-moz-", ":-ms-input-", ":-moz-";

	@each $prefix in $prefixes {
		&#{$prefix}placeholder {
			@content
		}
	}
}